//Variable
$primary-color: #007bff;
$secondary-color: #6c757d;
$white: #fff;
$hover-transform: translateY(-5px);
$transition-speed: 0.2s;
$mobile-breakpoint: 768px;

@mixin card-hover {
    transition: transform $transition-speed;
    &:hover {
        transform: $hover-transform;
    }
}

body {
    background-color: $white;
}

.navbar {
    &-brand {
        font-weight: bold;
        color: $primary-color;

        &:hover {
            color: darken($primary-color, 10%);
        }
    }
}

#main-content {
    padding: 2rem;
    margin-top: 2rem;
}

.content-section {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card {
    @include card-hover;

    &-img-top {
        height: 200px;
        object-fit: cover;
    }

    &.profile-card {
        .card-img-top {
            height: auto !important;
            object-fit: contain !important;
            max-height: 100;
        }
    }
}


.custom-list {
    list-style-type: none;
    padding-left: 0;

    li {
        margin-bottom: 0.5rem;
        padding-left: 1.5rem;
        position: relative;
    }
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
        background-color: darken($primary-color, 10%);
        border-color: darken($primary-color, 10%);
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .content-section {
        padding: 1rem;
    }
    .card-img-top {
        height: 150px;
    }
}
